mixin numberSearcher(uniqueId)
	section.search_number
		h1.search_number__label Найдём номера под ваши пожелания
		div.search_number__dates_wrap
			+formCommon('Прибытие', ['date', 'date_from'], '', 'dateDropdown', 'search_number__arriving_date_' + uniqueId)(placeholder='ДД.ММ.ГГГГ')
			+formCommon('Выезд', ['date', 'date_to'], '', 'dateDropdown', 'search_number__departure_date_'+ uniqueId)(placeholder='ДД.ММ.ГГГГ')
		+dropdown('guests', ['search_number__guests_dropdown_' + uniqueId], 'гости', '', '', ['Взрослые', 'Дети', 'Младенцы'])(placeholder='Сколько гостей')
		+buttonCommon('Подобрать номер', 'toAct', ['button-to-do'], ['search_number__button_to-do'])
mixin signupCard(uniqueId)
	section.signup
		h1.signup__label Регистрация аккаунта
		+formCommon('', ['textForm', 'signup__name'], '', '', 'signup-name')(type='text' placeholder='Имя')
		+formCommon('', ['textForm', 'signup__surname'], '', '', 'signup-surname')(type='text' placeholder='Фамилия')
		+formRadio('', ['signup__sex_radio_' + uniqueId, 'signup__sex_radio'], 'Мужчина', 'Женщина')
		+formCommon('Дата рождения', ['date', 'signup__birthdate', 'birthdate'], '', '', 'signup_birthdate_' + uniqueId)(placeholder='ДД.ММ.ГГГГ')
		+formCommon('Данные для входа в сервис', ['textForm', 'signup__email'], '', '', 'signup-email')(type='email' placeholder='Email')
		+formCommon('', ['textForm', 'signup__password'], '', '', 'masked_text_signup')(type='password' placeholder='Пароль')
		+formToggle('Получать спецпредложения', ['signup__toggle', 'signup__toggle_' + uniqueId], '')
		+buttonCommon('Перейти к оплате', 'toAct', ['button-to-do'], ['signup__button_to-do'])
		div.signup__login_wrap
			p.signup__login_wrap__ifExiste Уже есть аккаунт на Toxin
			+buttonCommon('Войти', '', ['button-transparent', 'signup__button-transparent'])


mixin logIn()
	section.log-in
		h1.log-in__label Войти
		+formCommon('', ['textForm', 'log-in__email'], '', '', 'login-email')(type='email' placeholder='Email')
		+formCommon('', ['textForm', 'log-in__password'], '', '', 'masked_text_example-login')(type='password' placeholder='Пароль')
		+buttonCommon('войти', 'toAct', ['button-to-do'], ['log-in__button_to-do'])
		div.log-in__signup_wrap
			p.log-in__signup_wrap__text Нет аккаунта на Toxin?
			+buttonCommon('Создать', '', ['button-transparent', 'log-in__button-transparent'])



mixin roomOrder(roomNumber, isLux, price, uniqueId)
	section.room-order-card
		div.room-order-card__label
			div.room-order-card__label_number
				h3.room-order-card__label_number_n №&nbsp
				h1.room-order-card__label_number_number= roomNumber
				p.room-order-card__label_number_bonus!= '&nbsp' + isLux
			div.room-order-card__label_pricing
				h3.room-order-card__label_pricing_price!=price + '&#8381 &nbsp'
				span.room-order-card__label_pricing_per в сутки
		div.room-order-card__dates_range
			+formCommon('Прибытие', ['date', 'date_from'], '', 'dateDropdown', 'room-order-card__arriving_date_' + uniqueId)(placeholder='ДД.ММ.ГГГГ')
			+formCommon('Выезд', ['date', 'date_to'], '', 'dateDropdown', 'room-order-card__departure_date_' + uniqueId)(placeholder='ДД.ММ.ГГГГ')
		+dropdown('guests', ['room-order-card__guests_dropdown_' + uniqueId], 'гости', '', '', ['Взрослые', 'Дети', 'Младенцы'])(placeholder='Сколько гостей')
		section.room-order-card__details
			div.room-order-card__details_per-days
				p.room-order-card__details_per-days-count 9 990&#8381 x 4 суток
				p.room-order-card__details_per-days-price 39 690&#8381
			div.room-order-card__details_fees_bonus
				div.room-order-card__details_fees_bonus_wrap
					p.room-order-card__details_fees_bonus-describe Сбор за услуги: скидка 2&nbsp179&#8381
					span.room-order-card__details_fees_bonus-info i
				p.room-order-card__details_fees_bonus-price 0&#8381
			div.room-order-card__details_fees
				div.room-order-card__details_fees_wrap
					p.room-order-card__details_fees-describe Сбор за дополнительные<br> услуги
					span.room-order-card__details_fees-info i
				p.room-order-card__details_fees-price 300&#8381
			div.room-order-card__details_total
				h2.room-order-card__details_total_item(class ='room-order-card_total') Итого
				div.room-order-card__details_total_separator
				h2.room-order-card__details_total_item(class ='room-order-card_total') 38 081&#8381
			+buttonCommon('Забронировать', 'toAct', ['button-to-do'], ['room-order-card__button_to-do' + uniqueId])


mixin roomCard(roomNumber, imgSrc, isLux, price, stars, reviews)
	-	var n = 0
	section.room-card(id= 'room_' + roomNumber)
		div.room-card__image__wrap
			img.room-card__image(src= require('./images/pages_image/' + imgSrc))
			div.room-card__image__wrap__shadowmaker
			div.room-card__image__wrap__expanders
				svg.room-card__image__wrap__expanders__less(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
					|<path d="M7.42188 11.0928L6.01563 12.499L0.0156253 6.49902L6.01563 0.499024L7.42188 1.90527L2.82813 6.49902L7.42188 11.0928Z" fill="white"/>
				svg.room-card__image__wrap__expanders__more(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
					|<path d="M0.578125 1.90527L1.98438 0.499024L7.98438 6.49902L1.98438 12.499L0.578125 11.0928L5.17188 6.49902L0.578125 1.90527Z" fill="white"/>
			div.room-card__image__wrap__counters
				div.room-card__image__wrap__counters__counter(class='image__counter__full')
					|<circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
				while n < 3
					div.room-card__image__wrap__counters__counter(class=['image__counter__empty', 'image__counter__empty'+ n++])
		div.room-card_general
			div.room-card__label
				div.room-card__label_number
					h3.room-card__label_number_n № &nbsp
					h2.room-card__label_number_number= roomNumber
					p.room-card__label_number_bonus!='&nbsp'+isLux
				div.room-card__label_pricing
					h3.room-card__label_pricing_price!=price + `&#8381 `
					span.room-card__label_pricing_per в сутки
			hr.room-card_general_hr
			div.room-card__rate
				+rangeRateQuerry('room-'+ roomNumber + '_range-rate', stars)
				div.room-card__rate_reviews
					h3.room-card__rate_reviews_count!=reviews + '&nbsp'
					span.room-card__rate_reviews_review Отзывов