mixin img_src(source, ego, identity)
	img(srcset= source alt= ego class= '' + identity)
	//for bundle change on img(src=source alt= ego class= '' + identity)
mixin logoGroup(color)
	svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
		|<path d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill=#{color} fill-opacity="0.25"/>
		|<path d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill=#{color} fill-opacity="0.25"/>
		|<path d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill=#{color} fill-opacity="0.25"/>

mixin formCommon(formType, mission, placed, styleClass, explicitSpan)
	form.form(class= styleClass)
		div.form__wrapper
			h3= mission
			if explicitSpan
				h3.form_explain
					span= explicitSpan
		input.form__item(type=formType placeholder=placed)

//mixin checkForm(value, boolean)
//	input(type= 'checkbox' value= value
//		if boolean
//			checked)

mixin formCheckbox(legend, itemName, ...values)
	-var idForCheck = 1
	form.checkbox
		h3= legend
		ul
		for option in values
			li.checkbox__group
				input.checkbox__item(type= 'checkbox' id=itemName + '_' + (idForCheck) class=itemName + '_' + idForCheck)
				label.checkbox__item__label(for=itemName + '_' + (idForCheck++))
					p!= option

mixin formRadio(legend, itemName, ...values)
	- var idForCheck = 1
	form.radio
		h3= legend
		for value in values
			input.radio__item(type= 'radio' name= itemName id=itemName + '_' + idForCheck class=itemName + '_' + idForCheck)
			label.radio__item_label(for=itemName + '_' + idForCheck++)= value

mixin formToggle(value, mission, legend)
	- var idForCheck = 1
	form.toggle
		if legend
			h3= legend
		input.toggle__item(type= 'checkbox' id=mission + '_' + idForCheck class= mission + '_' + idForCheck)
		label.toggle__item_label(for= mission + '_' + idForCheck++)= value


mixin buttonLike(amount, uniqueId, ...values)
	form.buttonLike
		input.buttonLike__item(type= 'checkbox' id= uniqueId class= values)
		label.buttonLike__item_label(for=uniqueId)
			svg(width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg")
				|<path d="M5.03906 6.73438C5.66406 6.17448 6.1263 5.7513 6.42578 5.46484C6.72526 5.17839 7.05078 4.83984 7.40234 4.44922C7.75391 4.05859 7.99479 3.71354 8.125 3.41406C8.26823 3.11458 8.33984 2.82161 8.33984 2.53516C8.33984 2.11849 8.19661 1.77344 7.91016 1.5C7.63672 1.22656 7.29167 1.08984 6.875 1.08984C6.54948 1.08984 6.24349 1.18099 5.95703 1.36328C5.68359 1.54557 5.49479 1.77995 5.39062 2.06641H4.60938C4.50521 1.77995 4.3099 1.54557 4.02344 1.36328C3.75 1.18099 3.45052 1.08984 3.125 1.08984C2.70833 1.08984 2.35677 1.22656 2.07031 1.5C1.79688 1.77344 1.66016 2.11849 1.66016 2.53516C1.66016 2.82161 1.72526 3.11458 1.85547 3.41406C1.9987 3.71354 2.24609 4.05859 2.59766 4.44922C2.94922 4.83984 3.27474 5.17839 3.57422 5.46484C3.8737 5.7513 4.33594 6.17448 4.96094 6.73438L5 6.77344L5.03906 6.73438ZM6.875 0.25C7.52604 0.25 8.06641 0.471354 8.49609 0.914062C8.9388 1.35677 9.16016 1.89714 9.16016 2.53516C9.16016 2.91276 9.08854 3.28385 8.94531 3.64844C8.80208 4 8.53516 4.39714 8.14453 4.83984C7.76693 5.28255 7.42188 5.65365 7.10938 5.95312C6.79688 6.2526 6.29557 6.71484 5.60547 7.33984L5 7.88672L4.39453 7.35938C3.49609 6.55208 2.84505 5.94661 2.44141 5.54297C2.05078 5.13932 1.6862 4.66406 1.34766 4.11719C1.00911 3.57031 0.839844 3.04297 0.839844 2.53516C0.839844 1.89714 1.05469 1.35677 1.48438 0.914062C1.92708 0.471354 2.47396 0.25 3.125 0.25C3.88021 0.25 4.50521 0.542969 5 1.12891C5.49479 0.542969 6.11979 0.25 6.875 0.25Z" fill="#1F2041" fill-opacity="0.25"/>
			!=amount

mixin rangeRate(name)
	form.rangeRate(name= name)
			each item in [5, 4, 3, 2, 1]
				input.rangeRate__item(type= 'radio' name= name id= 'chunk_' + name + '_' + item value= item)
				label.rangeRate__item_label(for= 'chunk_' + name + '_' + item)


mixin rangeSlider(min, max)
	- var rangeDif = max/1.5
	form.rangeSlider
		div.rangeSlider__values
			span(id='range1') 0
			span .
			span(id='range2') 100
		div.rangeSlider_wrapper
			div.rangeSlider_slider-track
			input.rangeSlider__item(type='range' id='slider-1' min=min max=max value='150' oninput=slideOne())
			input.rangeSlider__item(type='range' id='slider-2' min=min max=max value='400' oninput=slideTwo())



mixin buttonCommon(label, ...classes)
	div.buttonCommon_wrapper
	button.buttonCommon__button(class= classes)
		h3.buttonCommon__button_label= label

mixin pagination(pages)
	div.paginationwrapper
		each page, index in Array(pages)
			button.pagination__button(class='pagination__button_' + (index + 1))
				a(href='#')= index + 1
		button.pagination__button_arrow
			svg(width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg")
				|<path d="M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z" fill="white"/>
	p 1-12 из 100+ вариантов аренды